.navbar {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.link {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-decoration: none;
    font-size: x-large;
    color: ivory;
}

.link:hover {
    color: rgb(125, 40, 167);
}