#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formItem {
    padding-bottom: 8px;
}

.formItem label {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.formItem input {
    height: 25px;
    width: 200px;
    margin-top: 4px;
    border: 5px solid rgb(105, 64, 134);
    border-radius: 7px;
}

.formItem textarea {
    margin-top: 4px;
    border: 5px solid rgb(105, 64, 134);
    border-radius: 7px;
    height: 250px;
    width: 300px;
}

button {
    margin-top: 10px;
    height: 40px;
    width: 100px;
    font-size: x-large;
    font-weight: bold;
    color: ivory;
    background-color: rgb(105, 64, 134);
}
