.aboutMe {
    padding-bottom: 20px;
}

article {
    border: 5px dashed rgb(105, 64, 134);
    margin: 30px;
    border-radius: 15px;
}

article p {
    text-align: center;
    margin: 20px;
    font-size: 1.5rem;
    padding-top: 10px;
    color: rgb(43, 42, 42);
    font-weight: bold;
}