.title {
    text-align: center;
    padding-bottom: 30px;
    font-size: xx-large;
    background-color: rgb(105, 64, 134);
    color: ivory;
    margin: 10px;
    border-radius: 40px;
    margin: 40px;
}

#myphoto {
    margin-top: 40px;
    margin-bottom: 20px;
    border: 5px solid ivory; 
    border-radius: 20px;
}

